@model IEnumerable<CarRental.Entities.Car>

@{
    ViewData["Title"] = "Car List";
}

<h1>Car List</h1>

<a asp-action="Create" class="btn btn-primary mb-2">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Type</th>
            <th>Model</th>
            <th>Transmission</th>
            <th>Fuel</th>
            <th>Mileage</th>
            <th>Daily Price</th>
            <th>License Plate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BrandName</td>
                <td>@item.CarType</td>
                <td>@item.CarModel</td>
                <td>@item.CarTransmission</td>
                <td>@item.CarFuel</td>
                <td>@item.CarMileage</td>
                <td>@item.CarDailyPrice</td>
                <td>@item.CarLicencePlate</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarID" class="btn btn-secondary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CarID" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CarID" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
